<% content_for :header do %>
  <%= javascript_include_tag 'api_calls' %>
<% end %>

<div class="row">
  <div class="col s12">
    <% if !current_user.template_chosen %>
      <p>It looks like you haven't set up your template yet!</p>
      <a href="<%= new_exercise_path %>" class="waves-effect waves-light btn">Set up template</a>
    <% else %>
      <h3 class="yourTemplate">Here's your template:</h3>
      <hr>
      <a href="<%= edit_exercise_path(@exercise) %>" class="waves-effect waves-light btn">Adjust your weights</a>
      <a href="<%= exercise_path(@exercise) %>" class="waves-effect waves-light btn">Strength Level</a>
      <hr>
      <%= render './exercises/template' %>
    <% end %>
  </div>

  <div class="col s12">
    <h3>Weight Progression Chart Below</h3>
  </div>
</div>
