<h1>Personal Fitness Trainer</h1>

  <% if flash[:notice] || flash[:alert]%>
    <hr>
      <%= flash[:notice] || flash[:alert] %>
    <hr>
  <% end %>

  <% if current_user %>
    <h2>Hello <%= current_user.name.capitalize %> </h2>

    <% if !current_user.template_chosen %>
      <p>It looks like you haven't set up your template yet!</p>
      <p><%= link_to "Set up template", new_exercise_path %></p>

    <% else %>
      <h1>Here's your current template:</h1>
      <%= render './exercises/template' %>
    <% end %>

    <%= link_to "Log out", session_path("current"), method: :delete %>
  <% else %>
    <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>

    <%= link_to "Sign in with Fitbit", "/auth/fitbit" %>
  <% end %>
