<% content_for :header do %>
  <%= stylesheet_link_tag 'users' %>
  <%= javascript_include_tag 'api_calls' %>
  <%= javascript_include_tag 'exercise' %>
<% end %>

<div class="section">
  <div class="row">
    <div class="col s12">
      <% if !current_user.template_chosen %>
        <p>It looks like you haven't set up your template yet!</p>
        <a href="<%= new_exercise_path %>" class="waves-effect waves-light btn">Set up template</a>
      <% else %>
        <h3 class="yourTemplate">Workout Template:</h3>
        <hr>
        <a href="<%= edit_exercise_path(@exercise) %>" class="waves-effect waves-light btn">Adjust your weights</a>
        <a href="<%= exercise_path(@exercise) %>" class="waves-effect waves-light btn">Strength Level</a>
        <hr>
        <%= render './exercises/template' %>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="section">
  <div class="row">
    <div class="col s6">
      <%= render 'dietplan' %>
    </div>
    <div class="col s6">
      <div id="goalWeight"></div>
    </div>
    <div class="col s6">
      <div id="calorieGraph"></div>
    </div>
  </div>
</div>

<% end %>

<div id="container"></div>
