<h1>Personal Fitness Trainer</h1>

  <% if flash[:notice] %>
    <hr>
      <%= flash[:notice] %>
    <hr>
  <% end %>

  <% if current_user %>
    <%= render "/exercises/exercise_form" %>
    Signed in as <%= current_user.name.capitalize %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  <% else %>
    <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>

    <%= link_to "Sign in with Fitbit", "/auth/fitbit" %>
  <% end %>

  <button>AJAX</button>
