<h1>Diet</h1> 

<table class="striped">
  <thead>
    <tr>
      <th colspan="2">Daily Menu</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="2">Breakfast</td>
    </tr>

    <tr>
      <td class="col s6"><%= @meals[0][:breakfast][:item1][:name] %></td>
      <td class="col s6"><%= @meals[1][:breakfast][:item1][:name] %></td>
    </td>

    <tr>
      <td colspan="2">Snack</td>
    </tr>

    <tr>
      <td><%= @meals[0][:snack1][:item1][:name] %></td>
      <td><%= @meals[1][:snack1][:item1][:name] %></td>
    </td>

    <tr>
      <td colspan="2">Lunch</td>
    </tr>

    <tr>
      <td><%= @meals[0][:lunch][:item1][:name] %></td>
      <td><%= @meals[1][:lunch][:item1][:name] %></td>
    </td>

    <tr>
      <td colspan="2">Snack</td>
    </tr>

    <tr>
      <td><%= @meals[0][:snack2][:item1][:name] %></td>
      <td><%= @meals[1][:snack2][:item1][:name] %></td>
    </td>

    <tr>
      <td colspan="2">Dinner</td>
    </tr>

    <tr>
      <td><%= @meals[0][:dinner][:item1][:name] %></td>
      <td><%= @meals[1][:dinner][:item1][:name] %></td>
    </td>

    <tr>
      <td colspan="2">Snack</td>
    </tr>

    <tr>
      <td><%= @meals[0][:snack3][:item1][:name] %></td>
      <td><%= @meals[1][:snack3][:item1][:name] %></td>
    </td>
  </tbody>
</table>


<% @meals[0].each do |daily_meal| %>
  <p> <%= daily_meal %> </p>
<% end %>

