<table>
  <tr>
    <td></td>
    <td>Sets x Reps</td>
    <td>Session #1</td>
    <td>Session #3</td>
    <td>Session #5</td>
    <td>Session #7</td>
    <td>Session #9</td>
    <td>Session #11</td>
    <td>Session #13</td>
    <td>Session #15</td>
    <td>Session #17</td>
    <td>Session #19</td>
    <td>Session #21</td>
    <td>Session #23</td>
  </tr>
  <tr>
    <td>Squat</td>
    <td>5 x 5</td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
    <td><%= @exercises.squat %></td>
  </tr>
  <tr>
    <td>Bench</td>
    <td>5 x 5</td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
    <td><%= @exercises.bench %></td>
  </tr>
  <tr>
    <td>Barbell Row</td>
    <td>5 x 5</td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
    <td><%= @exercises.barbell_row %></td>
  </tr>
  <tr>
    <td>Barbell Shrugs</td>
    <td>3 x 8</td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
    <td><%= @exercises.barbell_shrug %></td>
  </tr>
  <tr>
    <td>Tricep Extension</td>
    <td>3 x 8</td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
    <td><%= @exercises.tricep_extension %></td>
  </tr>
  <tr>
    <td>Barbell Curl</td>
    <td>3 x 8</td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
    <td><%= @exercises.barbell_curl %></td>
  </tr>
  <tr>
    <td>Hyperextensions</td>
    <td>2 x 10</td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
    <td><%= @exercises.hyperextensions %></td>
  </tr>
  <tr>
    <td>Cable Crunches</td>
    <td>3 x 10</td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
    <td><%= @exercises.cable_crunches %></td>
  </tr>
</table>
