<div class="container">
  <% if current_user %>
    <% if current_user.goal == "GAIN" %>
    <h2>Your current goal is: Weight Gain</h2>
  <% else %>
    <h2>Your current goal is: Weight Loss</h2>
  <% end %>
    <p>Fill out the form below to generate your new template:</p>

    <%= form_for @exercise do |f| %>
      <div class="row">
        <div class="col s6">
          <%= f.label :squat, "Squat (lbs)" %>
          <%= f.number_field :squat %>
        </div>
        <div class="col s6">
          <%= f.label :squat_reps, "Reps"%>
          <%= f.number_field :squat_reps %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <%= f.label :deadlift, "Deadlift (lbs)" %>
          <%= f.number_field :deadlift %>
        </div>
        <div class="col s6">
          <%= f.label :deadlift_reps, "Reps"%>
          <%= f.number_field :deadlift_reps %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <%= f.label :bench, "Bench (lbs)" %>
          <%= f.number_field :bench %>
        </div>
        <div class="col s6">
          <%= f.label :bench_reps, "Reps"%>
          <%= f.number_field :bench_reps %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <%= f.label :overhead_press, "Overhead Press (lbs)" %>
          <%= f.number_field :overhead_press %>
        </div>
        <div class="col s6">
          <%= f.label :overhead_press_reps, "Reps"%>
          <%= f.number_field :overhead_press_reps %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <%= f.label :barbell_row, "Barbell Row (lbs)" %>
          <%= f.number_field :barbell_row %>
        </div>
        <div class="col s6">
          <%= f.label :barbell_row_reps, "Reps"%>
          <%= f.number_field :barbell_row_reps %>
        </div>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  <% end %>
</div>
