<div class="container">
  <% if current_user %>
    <h2>Your current goal is: <%= current_user.goal %></h2>
    <p>Fill out the form below to generate your template:</p>

    <%= form_for @exercise do |f| %>
      <% if @exercise.errors.any? %>
        <div>
          <%= pluralize(@exercise.errors.count, "error") %> prevented this movie from being submitted:
          <ul>
            <% @exercise.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= f.label :squat, "Squat (lbs)" %><br>
        <%= f.text_field :squat %>
      </div>
      <div>
        <%= f.label :deadlift, "Deadlift (lbs)" %><br>
        <%= f.text_field :deadlift %>
      </div>
      <div>
        <%= f.label :bench, "Bench (lbs)" %><br>
        <%= f.text_field :bench %>
      </div>
      <div>
        <%= f.label :overhead_press, "Overhead Press (lbs)" %><br>
        <%= f.text_field :overhead_press %>
      </div><div>
        <%= f.label :barbell_row, "Barbell Row (lbs)" %><br>
        <%= f.text_field :barbell_row %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  <% end %>
</div>
